:root {
  --black: #0B0C10;
  --darkgrey: #1F2833;
  --lightgrey: #C5C6C7;
}

* {
  font-family:Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
  overflow-x: hidden; 
}

html {
  background: url('images/milky-way.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#half_me {
  position: fixed;
  right:0;
  bottom: 0;
  height:80%;
  width: auto;
}

.navbar {
  width:100%;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--darkgrey ); 
  overflow:hidden;
  box-shadow: 0px 0px 25px 25px var(--darkgrey);
}

.navbar ul {
  background-color: transparent;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0;
  background-color: var(--darkgrey);
  background: transparent;
  height: 60px;
  width: auto;
}

.navbar ul li a{
  background-color: var(--darkgrey);
}

.navbar ul li a img {
  padding: 4px;
  height: 40px;
  background-color: var(--darkgrey);
}

#fb:hover, #ig:hover ,#bp:hover, #sp:hover, #sc:hover, #bc:hover {
  transform: rotate(20deg);
}

.content{
  width: 100%;
  position: absolute;
  max-width: 75%;
}

.lc_logo {
  position: relative;
  padding-top:5%;
  left: 5%;
  background-color: transparent;
}

.lc_logo img{
  width: 40%;
  height: auto;
  background-color: transparent;
  opacity: 0.7;
  max-width: 400px;
}

.container p {
  display: inline-block;
  font-size: 25px;
  color: var(--lightgrey);
  font-weight: 400;
  margin-left: 5%;
  background-color: transparent;
}
#eq {
  height: 60px;
  background-color: transparent;
  padding-top: 10px;
}
#icon1 {
  width: 60px;
  cursor: pointer;
  background-color: transparent;
  padding-left: 5%;
  opacity: 0.8;
  padding-top: 20px;
}

#icon1:hover {
  padding-left: 6%;
  opacity: 1;
}

#bio {
  position: relative;
  padding-top: 30px;
  font-size: 18px;
  font-weight: lighter;
  background-color: transparent;
  max-width: 70%;
}

.text_link {
  color: rgb(67, 145, 155);
  text-decoration: none;
  font-weight: bold;
}

