
*{
  background-color: var(--black);
  font-family:Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
}
:root {
  --black: #0B0C10;
  --darkgrey: #1F2833;
  --lightgrey: #C5C6C7;
  --lightcolor: #66FCF1;
  --darkcolor: #45A29E;
}


.container {
  margin:0;
  padding:0;
  height: 100vh;
  width: 100%;
  background-image: url(public/images/side_place.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  
}

.navbar {
  width:100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--darkgrey ); 
  overflow: hidden;
  box-shadow: 0px 0px 25px 25px var(--darkgrey);
}

.navbar ul {

  background-color: var(--darkgrey);
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
  background-color: var(--darkgrey);
}

.navbar ul li a{
  text-decoration: none;
  font-size: 15px;

  background-color: var(--darkgrey);
}

.navbar ul li a img {
  height: 40px;
  background-color: var(--darkgrey);
}

#fb:hover{
  transform: rotate(20deg);
}

#ig:hover{
  transform: rotate(20deg);
}

#bp:hover{
  transform: rotate(20deg);
}

#sp:hover{
  transform: rotate(20deg);
}

#sc:hover{
  transform: rotate(20deg);
}

#bc:hover{
  transform: rotate(20deg);
}

.content{
  width: 100%;
  position: absolute;
  top: 30%;
  max-width: 400px;
}

.left_col h1 {
  font-size: 65px;
  color: var(--lightgrey);
  line-height: 100px;
  float:left;
  background-color: transparent;
  opacity: 0.9;
}

.left_col {
  float:left;
  margin-left: 6%;
  margin-top: 10%;
  align-items: center;
  background-color: transparent;
  max-width: 60%;
}

.left_col p {
  font-size: 30px;
  color: var(--lightgrey);
  font-weight: 400;
  margin-left: 15px;
  background-color: transparent;
}
#eq {
  height: 60px;
  background-color: transparent;
  padding-top: 10px;
}
#icon1 {
  width: 60px;
  cursor: pointer;
  background-color: transparent;
  padding-left: 10px;
  opacity: 0.8;
  padding-top: 10px;
}

#icon1:hover {
  padding-left: 20px;
  opacity: 1;
}

#bio {
  position: relative;
  padding-top: 30px;
  font-size: 18px;
  background-color: transparent;
  max-width: 60%;
}



.lc_logo {
  background-color: transparent;
  
  margin-left: 15%;
}

.lc_logo img{
  width: 300px;
  background-color: transparent;
  opacity: 0.7;
}